<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title>Travello</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Travello template project" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
      <link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css"/>
    <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    
    <link rel="stylesheet" href="styles/yoo.css" />
  

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/ionicons.min.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300"
      rel="stylesheet"
      type="text/css"
    />
    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script>
      window.Modernizr ||
        document.write(
          '<script src="js/vendor/modernizr-2.8.3.min.js"><\/script>'
        );
    </script>
     
  </head>
  <body>
    <div class="super_container">
      <!-- <svg width="1em" height="1em"  fa-border=" white"viewBox="0 0 16 16" class="bi bi-geo-alt " fill="black" xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
	  </svg>
  -->

      <div class="top_nav">
        <div class="container">
          <div class="row svg_row">
            <div class="col-lg-6 icon_col">
              <div class="store_locator_icon">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-credit-card-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0V4z"/>
                  <path fill-rule="evenodd" d="M0 7v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7H0zm3 2a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1H3z"/>
                </svg>
                <span>Buy Gift Card</span>
                <svg width="1em"height="1em" fa-border="white" viewBox="0 0 16 16"class="bi bi-geo-alt store_locator_top_nav_svg" fill="black"xmlns="http://www.w3.org/2000/svg">
                  <path class="store_locator_top_nav_path"fill-rule="evenodd"d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                <span>Store Locator</span>
              </div>
            </div>

          <div class="col-lg-6 add_to_cart_col"> 
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z"/>
              <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z"/>
              <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
              <path fill-rule="evenodd" d="M7.5 10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-2z"/>
            </svg>
            <span>Cart</span>           
          </div>
         </div>

        <div class="brand_row row">
          <div class="col text-center">
            <div class="brand_row_text ">
              <h2>ZODDOCK</h2>
            </div>
          </div>
        </div>
      </div>
      </div>

      
       
      <div class="menu-container">
        <div class="menu">
          <ul>
            <li>
              <a href="http://marioloncarek.com">WOMEN</a>
              <ul>
                <li>
                  <a href="http://marioloncarek.com">CLOTHING</a>
                  <ul>
                    <li><a href="http://marioloncarek.com">View All Clothing</a></li>
                    <li><a href="#">Dresses</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Tops</a></li>
                    <li><a href="#">Skirts</a></li>
                    <li><a href="#">Trousers</a></li>
                    <li><a href="#">Playsits & JumpSuits</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">ACCESSORIES</a>
                  <ul>
                    <li><a href="#">View All Accessories</a></li>
                    <li><a href="#">Bags & Purses</a></li>
                    <li><a href="#">Belts</a></li>
                    <li><a href="#">NeckLace</a></li>
                    <li><a href="#">Watches</a></li>
                    <li><a href="#">Hats Gloves & Scarves</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">SHOES & BOOTS</a>
                  <ul>
                    <li><a href="#">View All Shoes & Boots</a></li>
                    <li><a href="#">Heels</a></li>
                    <li><a href="#">Boots</a></li>
                    <li><a href="#">Sandals</a></li>
                    <li><a href="#">Trainers</a></li>
                    <li><a href="#">Beach</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">MUST HAVES</a>
                  <ul>
                    <li><a href="#"> Women WFH Wardrobe</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="http://marioloncarek.com">MEN</a>
              <ul>
                <li>
                  <a href="#">CLOTHING</a>
                  <ul>
                    <li><a href="#">View All Clothing</a></li>
                    <li><a href="#">Hoodies and SweatShirts</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Tops and T-Shirts</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">ACCESSORIES</a>
                  <ul>
                    <li><a href="#">View All Accessories</a></li>
                    <li><a href="#">Sunglasses</a></li>
                    <li><a href="#">Bags And Wallets</a></li>
                    <li><a href="#">Ear Phones</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">SHOES & BOOTS</a>
                  <ul>
                    <li><a href="#">View All Shoes & Boots</a></li>
                    <li><a href="#">Boots</a></li>
                    <li><a href="#">Loafers</a></li>
                    <li><a href="#">Trainers</a></li>
                    <li><a href="#">All Stars</a></li>
                  </ul>
                </li>
                <li><a href="#">MUST HAVES</a>
                <ul>
                  <li><a href="#"> Men WFH Wardrobe</a></li>
                </ul>
              </li>
              </ul>
            </li>

            <li>
              <a href="http://marioloncarek.com">BEUTY</a>
              <ul>
                <li>
                  <a href="#">MAKE UP</a>
                  <ul>
                    <li><a href="#">View All Make Up</a></li>
                    <li><a href="#">Eye</a></li>
                    <li><a href="#">Lips</a></li>
                    <li><a href="#">Nails</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">ACCESSORIES</a>
                  <ul>
                    <li><a href="#">View All Accessories</a></li>
                    <li><a href="#">Make Up Bag</a></li>
                    <li><a href="#">Tools</a></li>
                    <li><a href="#">Brushes And Blenders</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">COSMETICS</a>
                  <ul>
                    <li><a href="#">View All Cosmetics</a></li>
                    <li><a href="#">Skin</a></li>
                    <li><a href="#">Fragrance</a></li>
                    <li><a href="#">Haircare</a></li>
                    <li><a href="#">Training</a></li>
                  </ul>
                </li>
              </ul>
            </li>

            <li>
              <a href="http://marioloncarek.com">INSPIRATION</a>
              <ul>
                <li>
                  <a href="#">INSPIRE ME</a>
                  <ul>
                    <li><a href="#">Trending News</a></li>
                    <li><a href="#">Style Ethics</a></li>
                    <li><a href="#">The LockDown</a></li>
                    <li><a href="#">See All</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">THE EDIT</a>
                  <ul>
                    <li><a href="#">Woman</a></li>
                    <li><a href="#">Man</a></li>
                    <li><a href="#">Beauty</a></li>
                    <li><a href="#">See All</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">COLLECTIONS</a>
                  <ul>
                    <li><a href="#">View All Cosmetics</a></li>
                    <li><a href="#">Skin</a></li>
                    <li><a href="#">Fragrance</a></li>
                    <li><a href="#">Haircare</a></li>
                    <li><a href="#">Training</a></li>
                  </ul>
                </li>
              </ul>
            </li>

            <li><a href="http://marioloncarek.com">ZODDOCK CARES</a></li>
          </ul>
        </div>
      </div>

        <div class="clicked_product_container">
            <div class="container">
                <div class="row clicked_product_row">
                  
                    <div class="clicked_product_image  col-md-1 col-lg-6 col-sm-1 col-xs-1" >
                        <img src="images/shoe2.jpg" style="height: 400px; width: auto; border: 1px  solid rgb(234, 235, 232);">
                    </div>
                    <div class="clicked_product_details  col-md-6 col-lg-6 col-sm-1 col-xs-1">
                        <div class="clicked_product_name"> Black Trainer</div>
                        <div class="clicked_product_price"> UGX 60K</div>
                        <div class="clicked_product_code"> <span class="clicked_product_code_text">Product code:</span> <span class="clicked_product_code_no">212345</span></div>
                        <div class="clicked_product_gift_card"> <a class="btn btn-outline clicked_product_gift_card_btn" style="color:black; font-weight: bold; font-size: small;">BUY GIFT CARD</a></div>
                        <div class="clicked_product_local_store"><a class="btn btn-outline clicked_product_local_store_btn" style="color:white; font-weight: bold; font-size:small;"><i class="fa fa-map-maker" style="color: white;"></i> FIND YOUR LOCAL STORE</a></div>
                        <form class="size_form">
                          <div class="size_form_div">
                            <select class="form-control" id="exampleFormControlSelect1" >
                              <option>Size: Select Size</option>
                              <option>Size 5</option>
                              <option>Size 6</option>
                              <option>Size 7</option>
                              <option>Size 8</option>
                              <option>Size 9</option>
                              <option>Size 12 Out Of Stock</option>
                            </select>
                          </div>                          
                        </form>

                        <div class="row" style="padding-left: 0;margin-left: 0;">
                            <div class="">
                              <form class="Qty_form">
                                <div class="Qty_form_div">
                                  <select class="form-control" id="exampleFormControlSelect1" >
                                    <option>Qty: 1</option>
                                    <option>Qty: 5</option>
                                    <option>Qty: 10</option>
                                    <option>Qty: 15</option>
                                    <option>Qty: 20</option>
                                    <option>Qty: 25</option>
                                    <option>Qty: 30</option>
                                  </select>
                                </div>                          
                              </form>
                            </div>
                            <div class="add_to_bag_btn_div">
                              <a class="btn btn-outline add_to_bag_btn " style="color:white; font-weight: bold; display: flex;"> <span class=" add_to_bag_icon_svg_span"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-plus add_to_bag_icon_svg" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z"/>
                                <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z"/>
                                <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
                                <path fill-rule="evenodd" d="M7.5 10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-2z"/>
                              </svg></span> <span class="add_to_bag_text_span" style="font-weight: bold; font-size: smaller;">ADD TO BAG</span></a>
                            </div>

                      </div >


                        <div class="text-center clicked_product_share_icon_div_hidden">
                            <div style="font-size: x-small; font-weight:bolder; color: black;">SHARE THIS PRODUCT</div>
                            <div>
                              <span class="fa fa-facebook clicked_product_share_icon_hidden"></span>
                              <span class="fa fa-twitter clicked_product_share_icon_hidden"></span>
                              <span class="fa fa-instagram clicked_product_share_icon_hidden"></span>
                            </div>
                        </div>

                      </div>
                    

                    <div class="row clicked_product_icon_row">
                      <div class="clicked_product_share_text_div">SHARE</div>
                      <div class="clicked_product_share_icon_div">
                        <span class="fa fa-facebook clicked_product_share_icon"></span>
                        <span class="fa fa-twitter clicked_product_share_icon"></span>
                        <span class="fa fa-instagram clicked_product_share_icon"></span>
                      </div>
                    </div>
                  
                </div>
            </div>

              
        </div>

        

        
       
      <div>Masozera</div>
    

      <footer class="footer">

        <div class="back_to_top_div">
          <a class="btn btn-outline back_to_top_btn" style="color:white;  font-weight:small ;font-size: bold;"><b> BACK TO TOP <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up back_to_top_svg" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
            <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8 3.707 5.354 6.354a.5.5 0 1 1-.708-.708l3-3z"/>
          </svg></b></a>
        </div>   
        <hr class="footer_socket"></hr>
  
        <div class="container footer_container">           
                  <div class="row footer_row">
                    <div class="col-lg-3 col-md-6 col-xs-1 col-sm-6 footer_column">
                        <ul>
                          <li ><h6 class="footer_header"> HELP</h6></li>
                          <li class="footer_list_item">Customer Service</li>
                          <li class="footer_list_item">SiteMap</li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-1 col-sm-6   footer_column">
                        <ul>
                          <li><h6 class="footer_header"> USEFUL INFORMATION</h6></li>
                          <li class="footer_list_item">Terms Of Use</li>
                          <li class="footer_list_item">Privacy And Cookies</li>
                          <li class="footer_list_item">Media Enquiries</li>
                          <li class="footer_list_item">Franchise</li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-1 col-sm-6  footer_column">
                        <ul>
                          <li class="footer_list_item"><h6 class="footer_header"> INSIDE ZODDOCK</h6></li>
                          <li class="footer_list_item">About Us</li>
                          <li class="footer_list_item">Careers At Zoddock</li>
                          <li class="footer_list_item">Suppliers</li>
                          <li class="footer_list_item">UG Gender Pay Report</li>
                          <li class="footer_list_item">Modern Slavery Act</li>
                          <li class="footer_list_item">Cruelty Free International</li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-1 col-sm-6  footer_column">
                        <ul>
                          <li><h6 class="footer_header"> PRESS RELEASES</h6></li>
                          <li class="footer_list_item">Arthur Ryan</li>
                          <li class="footer_list_item">Zoddock 50</li>
                          <li class="footer_list_item">Zoddock * UNICEF</li>
                        </ul>
                    </div>
                  </div>
        </div>
         
        <div class="footer_icon_container">
        <div class="container">
        <div class="row footer_icon_row">
          <div class=" col-lg-6 col-md-6 col-xs-6 col-sm-6 footer_icon_row_brand_name" style="font-weight: lighter; color:black;">
            2020 &#169; ZODDOCK STORES LIMITED
          </div>
          <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 footer_icon_column">
              <div class="footer_icon_column_div">
                  <i class="fa fa-facebook footer_icon"></i>
                  <i class="fa fa-twitter footer_icon"></i>
                  <i class="fa fa-instagram footer_icon"></i>
                  <i class="fa fa-youtube-play footer_icon"></i>
              </div>
          </div>
        </div>
      </div>
    </div>
  
      </footer>
  
    <script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
   
    <script>
      window.jQuery ||
        document.write(
          '<script src="js/vendor/jquery-1.12.0.min.js"><\/script>'
        );
    </script>

   
    
    
    <script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="plugins/scrollTo/jquery.scrollTo.min.js"></script>
    <script src="plugins/easing/easing.js"></script>
    <script src="./js/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="./plugins/greensock/TweenMax.min.js"></script>
    <script src="plugins/greensock/TimelineMax.min.js"></script>
    <script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="plugins/greensock/animation.gsap.min.js"></script>
    <script src="plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="plugins/easing/easing.js"></script>
    <script src="plugins/parallax-js-master/parallax.min.js"></script>
    <script src="megamenu.js"></script>

    <script>
      $(document).ready(function () {

      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
     
  });
</script>
  </body>
</html>

<!-- <img src="https://img.icons8.com/carbon-copy/100/000000/gift-card.png" style="height:2em; width: 1em;"/> -->